body{

background:#f4f7fb;

}

.card{

border-radius:15px;

}

textarea{

resize:none;

}

.navbar{

box-shadow:0 3px 10px rgba(0,0,0,.2);

}

.btn{

border-radius:10px;

}

.alert{

border-radius:12px;

}