{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-8">

<div class="card shadow-lg">

<div class="card-header bg-primary text-white">

<h3>🤖 Analyze Customer Review</h3>

</div>

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label class="form-label">

Customer Review

</label>

<textarea
class="form-control"
rows="6"
name="review"
required>{{ review }}</textarea>

</div>

<button class="btn btn-primary">

Analyze Review

</button>

</form>

{% if prediction %}

<hr>

<div class="card mt-4 border-success">

    <div class="card-header bg-success text-white">

        <h4>Prediction Result</h4>

    </div>

    <div class="card-body">

        <h2 class="text-success">

            {{ prediction }}

        </h2>

        <h5>

            Confidence : {{ confidence }} %

        </h5>

        <div class="progress mt-3">

            <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{ confidence }}%;">

                {{ confidence }}%

            </div>

        </div>

    </div>

</div>

{% endif %}

</div>

</div>

</div>

</div>

{% endblock %}